.container {
    width: 400px;
    height: relative;
    margin: 35px auto;
    font-family: 'Raleway';
    position: relative;
    top: 50%;
    transform: translate(10%, 10%);
    background-color: #fff;
    border: 2px grey solid;
    border-radius: 10px;

}

#alarmclock {
    padding: 5px 10px;
    font-weight: bold;
    font-size: 12px;
}

#alarmclock div {
    margin-bottom: 0.8em;
}

#alarmclock span {
    margin-right: 5px;
}